@charset "UTF-8";
.etc{
	
}
.tdt{
	 border:1px solid #333;
    text-align:left;
    width:200px;    
    height:30px;
    border:1px solid #333;
}
form{
	margin:auto;
	text-align:center;
}
h3{
	 text-align:center;
}

.board{
	margin-left: auto; margin-right: auto;
	size:100%;
	witdh: 50%;
   text-align:center;
    border-collapse:collapse;
}
.board td {
	size:100%;
	witdh: 50%;
    border:1px solid #333;
   text-align:center;
    width:200px;    
    height:30px;
    border:1px solid #333;
}
.board td .input{
    width:100%;
}
.board .attr{
	size:100%;
    width: 50%;
    text-align:center;
}
input{
	size:30%;
	text-align:center;
	witdh: 50%;
	background-color: black;
	color: white;
	border-radius:15px
}
.label{
	size:30%;
	text-align:center;
	witdh: 60%;
	background-color: #6633FF;
	color: #99FF99;
	border-radius:5px
}
